/* Custom rules to hide scrollbar */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* End of Custom rules to hide scrollbar */

/* Custom scrollbar rules */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #5d7107 #e8e6e8;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #e8e6e8;
}

*::-webkit-scrollbar-track:hover {
  background-color: #e8e6e8;
}

*::-webkit-scrollbar-track:active {
  background-color: #e8e6e8;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #5d7107;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #74870e;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #95ac17;
}

/* End of Custom scrollbar rules */

/* Custom rules for the nav bar */
nav a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a::before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 25px;
  background-color: #3e4042;
  z-index: -10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

nav a:hover::before {
  opacity: 1;
}

nav a.active::before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 25px;
  background-color: #3e4042;
  z-index: -10;
  opacity: 1;
}
/* End of Custom rules for the nav bar */
