@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "copperplate";
  src: local("copperplate"),
    url("./assets/fonts/copperplate.otf") format("opentype");
  font-display: swap;
}
